<% provide :title, t(".title") %>

<div class="center jumbotron">
  <h1><%= t ".hello" %></h1>
  <p><%= link_to t(".learn_more"), root_path,class: "btn btn-primary btn-lg" %></p>
</div>
<div id="products">
  <%= render "products/products" %>
</div>
