@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

$white-color: #fff;
$gray-medium-light: #eaeaea;
$gallery-border-color: #ddd;
$border-corlor: #bbb;
$alabaster: #fcfcfc;
$dark-gray-1: #333;
$dark-red: #ff173c;
$dark-gray-2: #666;
$gray94: #f0f0f0;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $white-color;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white-color;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: bold;
}

#logo:hover {
  color: $white-color;
  text-decoration: none;
}

.active {
  text-align: center;
  height: 50px;
}

.active h3 {
  margin-top: 5px;
}

.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
}

.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid $gallery-border-color;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}
.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}

footer {
  margin-top: 60px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

input, textarea, select, .uneditable-input {
  border: 1px solid $border-corlor;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.gravatar_edit {
  margin-bottom: 20px;
}

.glyphicon {
  margin-bottom: 10px;
  margin-right: 10px;
}

.w-50 {
  width: 50%;
}

.w-10 {
  width: 10%;
}
.w-8 {
  width: 8%;
}
.w-22 {
  width: 22%;
}

h4 {
  text-transform:uppercase;
}

.client-info {
  font-size:15px;
}

.ttl-amts {
  text-align:right;
  padding-right:50px;
}

.m_bottom_0 {
  margin-bottom: 0 !important;
}

.thumbnail > img,
.thumbnail a > img {
  display: block;
  max-width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.img_list {
  max-width: 50px;
  height: 50px;
  border-radius: 10%;
}

.site-content {
  margin-top: 20px;
}

.single {
  padding: 30px 15px;
  background: $alabaster;
  border: 1px solid $gray94;
}

.single h3.side-title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 20px;
  color: $dark-gray-1;
  text-transform: uppercase;
}

.single h3.side-title:after {
  content: '';
  width: 60px;
  height: 1px;
  background: $dark-red;
  display: block;
  margin-top: 6px;
}

.single ul {
  margin-bottom: 0;
}

.single li a {
  color: $dark-gray-2;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid $gray94;
  line-height: 40px;
  display: block;
  text-decoration: none;
}

.single li a:hover {
  color: $dark-red;
}

.single li:last-child a {
  border-bottom: 0;
}
