<% if check_size_products category.products %>
  <li>
    <%= link_to category_products_path(category) do %>
      <%= category.name %>
      <span class="pull-right"><%= category.products.size %></span>
    <% end %>
  </li>
<% end %>

